include header.pug 
div.row
    div.col-md-1 
    if (login && af)
        div.col-md-10
            table.table 
                thead
                    tr 
                        th(scope="col") Order ID
                        th(scope="col") Användarens ID
                        th(scope="col") Status
                        th(scope="col") Status - Ändra
                        th(scope="col") Förnamn
                        th(scope="col") Efternamn
                        th(scope="col") E-post
                        th(scope="col") Order datum 
                        th(scope="col") Total pris
                tbody 
                    if (orders.length > 0)
                        each order in orders 
                            tr
                                td=order.oid
                                td=order.uid
                                td
                                    case order.status
                                        when 0: p Mottagen
                                        when 1: p Packad
                                        when 2: p Skickad
                                        when 3: p Avbruten
                                        default: p DB Error! 
                                td
                                    form.inputForm(action='/updateOrder?oid=' + order.oid, method='POST')
                                        -
                                            var options = [
                                                {value: '0', text: 'Mottagen'},
                                                {value: '1', text: 'Packad'},
                                                {value: '2', text: 'Skickad'},
                                                {value: '3', text: 'Avbruten'}
                                            ];
                                            
                                        select(name="selOrd")
                                            each obj in options
                                                if (order.status === obj.value)
                                                    option(value= obj.value, selected)= obj.text
                                                else
                                                    option(value= obj.value)= obj.text
                                        button.btn.btn-success(type='submit') Ok
                                td=order.fname 
                                td=order.lname 
                                td=order.mail 
                                td=order.time
                                td=order.total_price      
                                        
                    else 
                        tr 
                            th(scope="row")
                            td Inga ordrar
                            td 
                            td 
                            td 
                            td 
                            td