include header.pug
div.col-md-1
div.col-md-10
    if (message.length > 0 )
        div.alert.alert-warning(role="alert")
            p=message
    div.card
        div.row
            div.col-md-4 
                img.card-img-top.img-thumbnail.img-fluid(src=("" + "./img/" + item.assId + ".png"))
            div.col-md-8.px-3 
                div.card-block.px-3 
                    h1.card-title=item.productName 
                    h3 #{item.price} kr
                    p.card-text #{item.stock} i lager
                    if (parseInt(item.stock) > 0)    
                        if (login)
                            a#addToCartLink(href="/addToCart?product="+ item.assId +"")
                                button#addToCartButton.btn.btn-primary Lägg till varukorgen
                                    img(src="./img/basket2-fill.svg")
                        else
                            a(href="/loginPage")
                                button.btn.btn-primary Logga in för att köpa
                                input(type="hidden" name="referer" value=currentUrl)
                    else
                        button.btn.btn-primary(disabled) Slut i lager
                    p.card-text=item.description
        if (ordered)
            if (!commented)
                div.card
                    div.card-body
                        div.card-header
                            h3 Lämna omdöme
                        form.inputForm(action='/addComment?product='+item.assId, method='POST')
                            br
                            select(name="rating")
                                option(value="1") ☆
                                option(value="2") ☆☆
                                option(value="3") ☆☆☆
                                option(value="4") ☆☆☆☆
                                option(value="5") ☆☆☆☆☆
                            br
                            textarea(name="ct" rows='3' cols="50")
                            br
                            br
                            button.btn.btn-success(type='submit') Skicka
            else
                div.card
                    h5.card-title Du har redan lämnat ett omdöme.

        else
            div.card
                h5.card-title Köp för att lämna ett omdöme.
							
        if (comments.length > 0)
            each comment in comments
                div.card
                    h5.card-title
                        span
                            - var i = 0;
                            while i < comment.rating
                                img(src="./img/star-fill.svg")
                                - i++
                    h6.card-subtitle.mb-2.text-muted=comment.uname
                    p.card-text=comment.text
                    if (af)
                        a(href="") Delete

include footer.pug